body {
    text-align: center;
    font-family: 'Inconsolata', 'Courier New', monospace;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
}

div.container {
    margin: auto;
    max-width: 640px;
}

header {
    font-size: 3rem;
    font-weight: bold;
    margin: 50px;
}

h1.post-title {
    font-size: 1.5rem;
}

footer {
    margin-top: 3rem;
    text-align: left;
}

article {
    text-align: left
}

#back-link {
    font-size: 2rem;
}